---
export interface Properties {
  icon?: string;
  title: string;
}

const { icon, title } = Astro.props as Properties;
---

<div class='action-group'>
  <h3>
    {icon ? <i class={icon} aria-hidden='true' /> : undefined}
    {title}
  </h3>
  <slot />
</div>

<style>
  .action-group h3 {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    margin-bottom: var(--heading-gap);
    margin-top: 0;
  }

  .action-group h3 i {
    color: var(--accent-primary);
    font-size: var(--font-size-xl);
  }
</style>
