---
import List from '../components/List.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Timothy Brits | Mooship'>
  <div class='page-wrapper'>
    <main class='container' id='container'>
      <Profile />
      <List />
    </main>
  </div>
</Layout>
