---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import List from "../components/List.astro";
import Shadow from "../components/Shadow.astro";
---

<Layout title='Timothy Brits'>
  <div class="page-wrapper">
    <main class='container' id='container' style='overflow: hidden;'>
      <Profile />
      <List />
      <Shadow />
    </main>
  </div>
</Layout>

<style>
  .page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

  .container {
    position: relative;
    padding: 0.3125rem;
    max-width: 600px;
    width: 90%;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: 8px;
    scrollbar-color: var(--bg-surface) var(--bg);
  }

  @media (min-width: 768px) {
    .page-wrapper {
      padding: 0 20px;
    }
  }
</style>

<script>
  ;(() => {
    const mainContent = document.getElementById('container')
    const pageWrapper = document.querySelector('.page-wrapper')
    const shadow = document.getElementById('shadow')
    const shadowButton = document.getElementById('shadow-button')

    shadowButton.addEventListener('click', () => {
      if (shadow.style.position === 'absolute') {
        shadow.style.position = 'relative'
        pageWrapper.style.overflow = 'auto'
        mainContent.style.overflow = 'visible'
        shadowButton.children[0].textContent = 'Show Less'
      } else {
        shadow.style.position = 'absolute'
        mainContent.style.overflow = 'hidden'
        pageWrapper.scroll(0, 0)
        shadowButton.children[0].textContent = 'Explore More'
      }
    })

    const list = document.getElementById('list')
    const observerList = list.getBoundingClientRect()

    if (observerList.bottom < window.innerHeight) {
      shadow.style.display = 'none'
      pageWrapper.style.overflow = 'auto'
    }
  })()
</script>
