---
import CountriesGrid from '../components/sections/CountriesGrid.astro';
import List from '../components/sections/List.astro';
import MissionOverview from '../components/sections/MissionOverview.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Analysing Structural Violence - Timothy for Change'>
  <div class='page-wrapper'>
    <main class='container' id='container' tabindex='-1'>
      <MissionOverview />
      <CountriesGrid />
      <List />
    </main>
  </div>
</Layout>
