---
import CountriesGrid from '../components/blocks/CountriesGrid.astro';
import MissionOverview from '../components/blocks/MissionOverview.astro';
import List from '../components/ui/List.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Konscio - Critical Humanitarian Analysis'>
  <div class='page-wrapper'>
    <main class='container' id='container'>
      <MissionOverview />
      <CountriesGrid />
      <List />
    </main>
  </div>
</Layout>
