---
import Layout from '../layouts/Layout.astro'
import Profile from '../components/Profile.astro'
import List from '../components/List.astro'
import Shadow from '../components/Shadow.astro'
---

<Layout title='Timothy Brits'>
  <main class='container' id='container' style='overflow: hidden;'>
    <Profile />
    <List />
    <Shadow />
  </main>
</Layout>

<style>
  .container {
    position: relative;
    margin: auto;
    padding: 0.3125rem;
    max-width: 600px;
    width: 90%;
    height: 100vh;
    overflow: hidden;
  }

  .container.expanded {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--zinc-800) transparent;
  }

  .container.expanded::-webkit-scrollbar {
    width: 8px;
  }

  .container.expanded::-webkit-scrollbar-track {
    background: transparent;
  }

  .container.expanded::-webkit-scrollbar-thumb {
    background-color: var(--zinc-800);
    border-radius: 4px;
  }
</style>

<script>
  ;(() => {
    const mainContent = document.getElementById('container')
    const shadow = document.getElementById('shadow')
    const shadowButton = document.getElementById('shadow-button')

    shadowButton.addEventListener('click', () => {
      if (shadow.style.position === 'absolute') {
        shadow.style.position = 'relative'
        mainContent.classList.add('expanded')
        mainContent.style.overflow = 'auto'
        shadowButton.children[0].textContent = 'Show Less'
      } else {
        shadow.style.position = 'absolute'
        mainContent.classList.remove('expanded')
        mainContent.style.overflow = 'hidden'
        mainContent.scroll(0, 0)
        shadowButton.children[0].textContent = 'Explore More'
      }
    })

    const list = document.getElementById('list')
    const observerList = list.getBoundingClientRect()

    if (observerList.bottom < window.innerHeight) {
      shadow.style.display = 'none'
      mainContent.style.overflow = 'auto'
      mainContent.classList.add('expanded')
    }
  })()
</script>
