---
export interface Props {
  href?: string;
  class?: string;
}

const { href = '/', class: className = '' } = Astro.props;
---

<a href={href} class={`back-button ${className}`}>
  <i class='ri-arrow-left-line'></i>
  Back to Home
</a>
