---
import 'remixicon/fonts/remixicon.css';
import { brandMap } from '../lib/brands';

const { icon, title, description, url } = Astro.props;

const brandClass = title ? brandMap.get(String(title)) : undefined;
---

<a href={url} class={`link fade-in${brandClass ? ' ' + brandClass : ''}`}>
  <span class='link-icon' aria-hidden='true'>
    <i class={'ri-' + icon} aria-hidden='true'></i>
  </span>
  <div class='link-content'>
    <h2 class='link-title'>{title}</h2>
    <p class='link-description'>{description}</p>
  </div>
</a>
