---
import UserProfileImage from "../assets/me.PNG";
import dataList from "../data/user.json";
---

<header class='profile'>
  <div class='profile-picture-content'>
    <figure class='profile-picture'>
      <img src={UserProfileImage.src} alt='This is me!' width="80" height="80" />
    </figure>
  </div>
  <div class='profile-data'>
    <h1 class='profile-name'>{dataList.name}</h1>
    <p class='profile-profession'>{dataList.profession}</p>
    <div class='profile-bio'>
      <p class='profile-bio-text' set:html={dataList.bio}></p>
    </div>
  </div>
</header>

<style>
  .profile {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-picture-content {
    padding: 0.25rem;
    border-radius: 100%;
    border: 2px solid var(--border);
    background: var(--bg-card);
  }

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    background: var(--bg-surface);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-picture img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .profile-data {
    margin-top: 1.125rem;
    text-align: center;
  }

  .profile-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 0.25rem;
  }

  .profile-profession {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
  }

  .profile-bio {
    margin-top: 1rem;
    max-width: 24rem;
  }

  .profile-bio-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-muted);
    line-height: 1.6;
    text-align: center;
  }

  .profile-bio .profile-bio-text a {
    color: rgb(4, 180, 253);
    text-decoration: underline;
    transition: none;
  }
</style>
