---
import userData from '../data/user.json';

const { name, profession, bio } = userData;
---

<header class='profile slide-up-fade breathing'>
  <div class='profile-picture-content'>
    <figure class='profile-picture' id='profile-picture'>
      <img
        src='/me.png'
        alt='This is me!'
        width='80'
        height='80'
        loading='eager'
        decoding='sync'
      />
    </figure>
  </div>

  <div class='profile-data'>
    <h1 class='profile-name'>{name}</h1>
    <p class='profile-profession'>{profession}</p>
    <div class='profile-bio'>
      <p class='profile-bio-text'>{bio}</p>
    </div>
  </div>
</header>
