---
import userData from '../data/user.json';

const { name, profession, bio } = userData;
---

<header class='profile slide-up-fade breathing'>
  <div class='profile-picture-content'>
    <figure class='profile-picture' id='profile-picture'>
      <img
        src='/me.png'
        alt='This is me!'
        width='80'
        height='80'
        loading='eager'
        decoding='sync'
      />
      <script type='module' is:inline>
        const accentColors = [
          'var(--accent-primary)',
          'var(--hot-orange)',
          'var(--hot-purple)',
          'var(--hot-cyan)',
          'var(--hot-yellow)',
          'var(--hot-emerald)',
          'var(--hot-pink)',
        ];
        const pic = document.getElementById('profile-picture');
        function setRandomRing() {
          const color =
            accentColors[Math.floor(Math.random() * accentColors.length)];
          pic.style.setProperty('--profile-ring', color);
        }
        pic.addEventListener('mouseenter', setRandomRing);
        pic.addEventListener('focus', setRandomRing);
        pic.addEventListener('focusin', setRandomRing);
        pic.addEventListener('mouseleave', setRandomRing);
        pic.addEventListener('blur', setRandomRing);
      </script>
    </figure>
  </div>

  <div class='profile-data'>
    <h1 class='profile-name'>{name}</h1>
    <p class='profile-profession'>{profession}</p>
    <div class='profile-bio'>
      <p class='profile-bio-text'>{bio}</p>
    </div>
  </div>
</header>
