---
import dataList from '../data/user.json';
---

<header class='profile'>
  <div class='profile-picture-content'>
    <figure class='profile-picture'>
      <img
        src='/me.png'
        alt='This is me!'
        width='80'
        height='80'
        loading='eager'
        decoding='sync'
      />
    </figure>
  </div>
  <div class='profile-data'>
    <h1 class='profile-name'>{dataList.name}</h1>
    <p class='profile-profession'>{dataList.profession}</p>
    <div class='profile-bio'>
      <p class='profile-bio-text'>
        I'm an intermediate software engineer in Pretoria who absolutely loves
        coding. I'm passionate about .NET, Node.JS, open-source projects,
        building my own stuff, audiobooks, dogs, gaming, chess and memes.
      </p>
    </div>
  </div>
</header>
