---
import userData from '../data/user.json';

const { name, profession, bio } = userData;

const replacements: Array<[RegExp, string]> = [
  [/Palestine/g, 'Palestine 🇵🇸'],
  [/Ukraine/g, 'Ukraine 🇺🇦'],
  [
    /the Democratic Republic of the Congo/g,
    'the Democratic Republic of the Congo 🇨🇩',
  ],
];
const bioHtml = replacements.reduce(
  (acc, [pattern, value]) => acc.replace(pattern, value),
  String(bio)
);
---

<header class='profile slide-up-fade'>
  <div class='profile-picture-content'>
    <figure class='profile-picture' id='profile-picture'>
      <img
        src='/me.jpeg'
        alt='Portrait of Timothy Brits'
        width='80'
        height='80'
        loading='eager'
        decoding='sync'
      />
    </figure>
  </div>

  <div class='profile-data'>
    <h1 class='profile-name'>{name}</h1>
    <p class='profile-profession'>{profession}</p>
    <div class='profile-bio'>
      <p class='profile-bio-text' set:html={bioHtml} />
    </div>
  </div>
</header>
