---
import '@fontsource/poppins/latin-400.css';
import '@fontsource/poppins/latin-500.css';
import '@fontsource/poppins/latin-600.css';
import '../styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Timothy Brits - Software Engineer specializing in web development. Explore my professional journey, open-source contributions, and connect with me on LinkedIn and GitHub.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='author' content='Timothy Brits' />
    <meta
      name='keywords'
      content='Timothy Brits, Software Engineer, Web Developer, JavaScript, TypeScript, Blazor, React, Node.js, Go,Portfolio, LinkedIn, GitHub'
    />
    <meta name='robots' content='index, follow' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://mooship.co.za/' />
    <meta property='og:title' content={title} />
    <meta
      property='og:description'
      content='Timothy Brits - Software Engineer specialising in web development. Explore my professional journey and open-source contributions.'
    />
    <meta property='og:site_name' content='Timothy Brits Portfolio' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>
  <body>
    <slot />
  </body>
</html>
