---
import '@fontsource-variable/geist';
import '../styles/reset.css';
import '../styles/global.css';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Timothy Brits - Software Engineer raising awareness about global humanitarian crises. Learn about ongoing conflicts and humanitarian issues in Ukraine, Palestine, the DRC, Sudan, and Myanmar.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='author' content='Timothy Brits' />
    <meta
      name='keywords'
      content='Timothy Brits, developer, software engineer, humanitarian awareness, global crises, Ukraine, Palestine, DRC, Sudan, Myanmar, social justice, humanitarian aid, conflict awareness'
    />
    <meta name='robots' content='index, follow' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://mooship.co.za/' />
    <meta property='og:title' content={title} />
    <meta
      property='og:description'
      content='Timothy Brits - Software Engineer raising awareness about global humanitarian crises. Learn about ongoing conflicts and humanitarian issues in Ukraine, Palestine, the DRC, Sudan, and Myanmar.'
    />
    <meta
      property='og:site_name'
      content='Timothy Brits - Humanitarian Awareness'
    />
    <meta
      property='og:image'
      content='https://mooship.co.za/apple-touch-icon.png'
    />
    <meta name='color-scheme' content='light dark' />
    <link rel='canonical' href='https://mooship.co.za/' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>
  <body>
    <a class='skip-link' href='#container'>Skip to main content</a>
    <slot />
    <Footer />
  </body>
</html>
