---
export interface CountryAvatarProps {
  emoji?: string;
  ariaLabel?: string;
  countryName: string;
}
const { emoji, ariaLabel, countryName } = Astro.props as CountryAvatarProps;
---

<span
  class='country-avatar'
  role='img'
  aria-label={ariaLabel ? `${countryName} ${ariaLabel}` : countryName}
>
  {emoji ? emoji : ''}
</span>

<style>
  .country-avatar {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: var(--gap-sm);
  }

  @media (width >= 768px) {
    .country-avatar {
      font-size: 2.5rem;
    }
  }
</style>
